:root {
    --light-color: rgb(0, 0, 0);
}

.tg  {
    border-collapse:collapse;
    border-spacing:2px 2px;
    position: relative;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-es88{
    background-color:#ffffff;
    color:var(--light-color);
}
.tg .tg-405i{
    background-color:#57B2C7
}

.tg .tg-7h0m{
    background-color:#ffffff;
    color:#656565;
    color:var(--light-color);
}
.tg .tg-7sux{
    background-color:#ffffff;
    color:#656565;
    color:var(--light-color);
    text-align: center;
    border-radius: 0px;
}
.tg .tg-m3lj{
    background-color:#ffffff;
    color:#656565;
}
.tg .tg-5fb6{
    background-color:#DB5764
}
.tg td {
    text-align: center;
}
.tg td:hover {
    background-color: rgba(80, 80, 80, 0.068);
    cursor: pointer;
}

#plates {
    position: absolute;
    display: none;
    left: 60px;
    top: 36px;
}
#plates #triangle {
    border-color: transparent transparent #57B2C7 transparent;
}
#tablecell_plates:hover #plates {
    display: block;
}
#plates #date_text {
    background-color: #57B2C7;
}

#skydive {
    position: absolute;
    display: none;
    left: 150px;
    top: 108px;
}
#skydive #triangle {
    border-color: transparent transparent #DB5764 transparent;
}
#tablecell_skydive:hover #skydive {
    display: block;
}
#skydive #date_text {
    background-color: #DB5764;
}

#date_text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    margin-top: 20px;
    height: 70px;
}
#date_text p {
    margin-bottom: -5px;
}
