html, body {
    height: 100%;
}
body {
    font-size: 17px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
}
header {
    grid-area: header;
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    grid-area: footer;
    background-color: white;
    text-align: center;
}
header h1 {
    text-align: center;
    flex:4;
}
.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#menu {
    background-image: url(../menu.png);
    background-size: contain;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 30px;
    cursor: pointer;
    display: none;
}

#userbtn_wrapper {
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-top: -8px;
    position: relative;
}

#userbtn {
    background-color: transparent;
    background: url(../User-512.png) no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.btn {
    border-radius: 5px;
    border: 0px;
    margin: 2.5px 2.5px 2.5px 2.5px;
    height: 45px;
    width: 90px;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
}
#user{
    margin-top: -17px;
    position: relative;
}

#user_id{
    position: absolute;
    right: 0;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(151, 151, 151);
    margin-top: -5px;
    text-decoration: wavy;
    font-style: italic;
}

#logoutbtn{
    display: block;
}

#loginbtn{
    display: block;
}
#loginbtn_mobile{
    display: none;
}

#registerbtn{
    display: block;
}

#registerbtn_mobile{
    display: none;
}
.dropdown_content{
    display: none;
    z-index: 2;
    border-radius: 5px;
    min-width: 120px;
    position: absolute;
    right: 40px;
    top:40px;
}

#userbtn_wrapper:hover .dropdown_content {
    display: block;
}

#triangle {
    width: 0px;
    height: 0px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 0 15px 10px 15px;
    margin-top: 40px;
    margin-left: 68px;
    margin-bottom: -22px;
    border-color: transparent transparent #ffffff transparent;
}

#useraction_list {
    background-color: white;
    height: 100px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
#useraction_list * {
    cursor: pointer;
}
#useraction_list *:hover {
    font-weight: 600;
}
#useraction_list *:active {
    font-weight: 500;
}

#cont_box {
    min-width: 800px;
    width: 65%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    box-shadow: 2px 2px 24px -8px rgba(0,0,0,0.4);
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    color:rgb(70, 70, 70);
    font-family: 'Raleway', sans-serif;
}

/* Media Stuff */
@media screen and (max-width: 675px) {
    #cont_box {
        height: auto;
    }

    header h1 {
        padding-left: 0% !important;
    }
}

@media only screen and (max-height: 1000px) {
    #userbtn {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
    .btn {
        height: 40px;
    }
}

@media screen and (max-width: 1025px) {
    #cont_box {
        width: 100vw;
        height: 100vh;
        min-width: 0;
    }

    .dropdown_content {
        top: 50px;
    }

    #aside{ 
        display: none;
    }

    header h1 {
        padding-left: 100px;
    }
    
}

@media screen and (orientation: landscape) and (max-height: 700px) {
    header{
        z-index: 2;
        display: flex;
    }
    
    body{
        height: 100vh;
    }

    footer {
        display: none;
    }

    #cont_box {
        grid-template-rows: 20% 80%;
    }
}